body{
    margin: 0;
    padding: 0;
    /* background:linear-gradient(135deg, #dbeafe, #dbeafe); */
    background-color:	#F5FFFA;
    /* background-color:#d7eef6; */
    /* background-color:#def0f6 ; */
}
#header{
    padding: 30px;
    display: flex;
    flex-direction: row;
    background-color: #0c005a;
}
#head1{
    /* padding-left: 550px; */
    display: flex;
    flex-direction: row;
}
#wa-lg{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #0c005a;
  z-index: 1000;    
}
#head-lg{
  width: 200px;
}
.h1-s1 a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
#s1-1{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 600px;
}


#s1-pic{
    width: 1265px;
    height: 550px;
    display: block;

}
.s1-p1{
    position: absolute;
    top: 40%;
    left: 60%;
    width: 600px;
    transform: translate(-50%, -50%);
    color: #0c005a;
    font-family: "Edu QLD Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style:normal;
    font-size: 40px;
    text-shadow: 2px 2px 4px #0c005a;
}
#s1-a1{
    padding: 0px 0px 0px 600px;
}
.h1-s1 a:hover{
    color: rgb(183, 178, 178);
}
.s1-a1-a{
    position: absolute;
    top: 80%;
    text-decoration: none;
    width: 85px;
    font-size: 20px;
    font-weight: bold;
    background: #0c005a;
    border-radius: 15px;
    padding: 10px;
    color: white;
    
}
.s1-a1-a:hover{
    box-shadow: 0px  0px 25px #f4e7fb;

}
.s2-head{
    /* padding: 0px 0px 0px 450px; */
    margin-top: 0px;
    
}
.s2-p1{
    color: #0c005a;
    font-family: "Lilita One", sans-serif;
   font-weight: 400;
  font-style: normal;
    font-size: 40px;
}
.card-list .card-item .card-link{
    user-select: none;
    display: block;
    background: linear-gradient(135deg, #dbeafe, #dbeafe);
    text-decoration: none;
    border-radius: 0px;
    padding: 15px;
    box-shadow: 0px 10px 10px #bcbcbc;
    width: 311px;
}
.card-list .card-link .card-image{
    width: 315px;
    object-fit: cover;
    border-radius: 10px;   
}
.card-list .card-item{
    list-style: none;
}
.card-button{
    margin: 0px 0px 0px 120px;
    background: #0c005a;
    color: white;
    padding: 10px;
    border-radius: 15px;
}
.card-list .card-link .card-button{
    transition: 0.3s ease;
}

.card-wrapper {
    /* margin: 0px 60px 35px; */
    padding: 20px 10px;
    overflow: hidden;
    margin:0px 12px 28px;
}

.card-list {
    display: flex;
    gap: 20px; 
    padding: 0;
    margin: 0px;
}
.card-list .card-item .swiper-slide {
    list-style: none;
    
}
.card-button:hover{
    box-shadow: 0px  0px 10px #f4e7fb;
    border: 2px solid white;
}

.card-item a{
    width: 350px;
}
.card-item a:hover{
    border: #0c005a;
}
#sec3-div1{
    display: flex;
    margin: 20px;
}
.sec3-service{
    margin: 10px 70px 10px 70px;
}
.head{
    font-size: 30px;
    color: #0c005a;
    font-family: "Edu QLD Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style:normal;
}
.about-service{
    text-align: justify;
    font-size: 18px;
}
#sec3-div2{
    display: flex;
    /* padding: 10px 340px 10px 240px; */
}
.other-service{
    margin: 0px 60px 0px 60px;
    background: linear-gradient(135deg, #dbeafe, #dbeafe);;
    padding: 40px;
    color: #0c005a;
    font-family: "Edu QLD Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style:normal;
    font-size: 20px;
    border-radius: 15px;
}
#section-4{
    display: flex;
    margin: 40px;
}
.sec4-head{
    margin: 10px;
}
.sec4-description{
    /* margin: 50px 10px 10px 10px; */
    text-align: justify;
    font-size: 20px; 
}
.sec4-img{
    margin: 30px; 
}
.sec4-pic{
width: 500px;
height: 400px;
}
.sec5-main{
    display: flex;
    margin: 10px 40px 10px 20px;
}
.sec5-description{
    text-align: justify;
    font-size: 20px; 
    /* padding-right: 50px; */
}
.sec5-pic{
   width: 450px;
   height: 400px;
}
.sec5-content{
  margin: 20px;
}
.sec5-img{
    margin: 20px;
}
.sec5-head{
    padding-left: 530px;
    margin-bottom: 0px;
}
#footer{
    background: #0c005a;
    color: white;
    padding:  30px 0px 30px 0px;
}
.maindiv{
    display: flex;
    padding-left: 100px;
    
}
.footer-subhead{
    padding: 10px;
    font-size: 15px;
}
.div{
    padding: 20px;
}
.div-about{
    margin-right: 270px;
}
.footer-a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 15px;
}
#foot-lg{
  width: 300px;
}
.footer-a:hover{
    color: rgb(142, 138, 138);
}
.f-div2{
    margin-top: 10px;
}
.f-main{
    padding: 10px;
    
    font-size: 15px;
    font-style:normal;
}
#footer-final{
    background: black;
    padding: 10px;
    color: white;
    font-size: 12px;
}
.footer-about{
    margin-left: 10px;
    text-align: left;
}
.about-div{
    margin-top: 15px;
    width: 300px;
    padding-right: 40px;
}
.f-pic{
    width: 25px;
}
.logo-div{
    display: flex;
    margin-right: 30px;
}
.footer-image{
    padding: 10px;
}
.address-div{
    margin-left: 10px;
}
.phn-num{
    margin-left: 0;
}


/* Mediaquery */
/* @media screen and (min-width: 1024px){
    #header {
    flex-direction: row;
    align-items: center;
    padding: 15px;
    width: 994px;
  }
  #head{
    padding-right: 1100px;
  }
  #s1-pic{
    width: 1024px;
  }
  .container{
    width: 1024px;
  }
  #section-3{
    width: 1024px;
  }
  #sec3-div2{
    padding: 10px 10px 10px 112px;
  }
  #section-4{
    width: 979px;
    margin: 13px 0px 10px 46px;
  }
  #section-5{
    width: 1024px;
  }
  #footer{
    width: 1024px;
  }
  .maindiv{
    padding-left: 0px;
  }
  #footer-final{
    width: 1004px;
  }
  #wa-lg {
    left:20%;
  }
} */

@media screen and (max-width: 768px) {

  /* Navbar */
  #header {
    flex-direction: row;
    /* align-items: center; */
    padding: 15px;
  }

  #head1 {
    flex-wrap: wrap;
    justify-content: center;
    padding:10px 0px 0px 92px;
  }

  /* .h1-s1 {
    margin: 5px 10px;
  } */

  /* Section 1 */
  #s1-pic{
    width: 768px;
    height: 698px;
  }

  .s1-p1 {
    top: 50%;
    left: 50%;
    font-size: 40px;
    text-align: center;
  }

  #s1-a1 {
    padding-left: 650px;
    display: flex;
    justify-content: center;
    
  }

  .s1-a1-a {
    width: 90px;
    font-size: 20px;
    left:59%;
  }
  

  /* Section 2 */
 
  .s2-head {
    margin: 10px;
    text-align: center;
  }

  .s2-p1 {
    font-size: 45px;
  }

 /* .card-wrapper {
    margin: 10px 20px 10px 20px;
    padding: 10px 110px;
  } */

  .card-list {
    display: flex;
    flex-direction: row;
    gap: 2px; 
    justify-content: center;
  }

  .card-link .card-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }

  .card-button {
    margin: 10px auto 0;
    display: block;
    text-align: center;
  }


  /* Section 3 */
  #sec3-div1 {
    flex-direction: row;
    align-items: center;
  }

  .sec3-service {
    margin: 20px;
    width: 90%;
  }

  #sec3-div2 {
    flex-direction: row;
    align-items: center;
    padding-left: 120px;
  }
  .about-service {
    font-size: 16px;
    padding: 10px;
  }
  .head{
     font-size: 23px;
  }

  .other-service {
    margin: 10px 20px;
    padding: 26px;
    text-align: center;
    font-size: 23px;
  }

  /* Section 4 & 6 */
  #section-4 {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .sec4-img, .sec4-content {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .sec4-pic {
    width: 649px;
    height: 450px;
  }

  .sec4-description {
    padding: 0 30px;
    font-size: 16px;
  }

  /* Section 5 */
  .sec5-head{
    text-align: center;
    padding-left: 0px; 
  }
  .sec5-main{
    display: flex;
    flex-direction: column;
  }
  .sec5-pic {
    width: 649px;
    height: 450px;
  }
  .sec5-description {
    /* padding: 0 30px; */
    font-size: 16px;
  }
  /* Footer */
  .maindiv {
    flex-direction: column;
    padding-left: 20px;
  }

  .div .about-div {
    padding: 10px 0;
    width: 100%;
  }

  .logo-div {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-image {
    margin: 5px;
  }

  #footer-final {
    font-size: 10px;
  }
}

@media screen and (max-width: 426px){

  #header {
    flex-direction: row;
    width: 395px;
  }
  .h1-s1 {
    font-size: 8px;
  }
  #s1-pic {
    width: 425px;
    height: 400px;
  }
  #head1 {
    padding-left: 76px;

  }
  #head {
    padding-right: 0; 
  }
  #head-lg {
    width: 90px;
  }
  .h1-s1 a{
    padding: 0;
  }
  .h1-s1 {
   margin: 0px 5px;
  }
  .s1-p1 {
    font-size: 20px;
    width: 400px;
    left: 40%;
  }
  #s1-a1{
    padding: 0;
  }
  .s1-a1-a {
    font-size: 10px;
    width: 45px;
    border-radius: 15px;
    left: 43%;
    top: 75%;
  }
     /* #section-2 {
    width: 330px;
  } */

  .s2-head {
    padding-left: 0px;
    text-align: center;
  }

  .s2-p1 {
    font-size: 24px;
  }

  .container {
    width: 415px;
    margin: 8px;
    overflow: hidden;
  }

  .card-wrapper {
    padding: 10px;
  }

  .card-list {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
  }

  .card-item {
    flex: 0 0 auto; 
    margin-right: 15px;
  }

  .card-item a {
    display: block;
    width: 260px; 
    box-sizing: border-box;
  }

  .card-list .card-link .card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .card-button {
    margin-left: 60px;
    font-size: 14px;
    padding: 8px 12px;
  }
  .swiper-slide{
      width: 260px !important;     /* Force the width */

  }
  #sec3-div1 {
    flex-direction: column;
    margin-left: 20px;
  }
  #section-3 {
    width: 425px;
  }
  .head {
    font-size: 25px;
  }
  .about-service {
    font-size: 15px;
    padding: 0px; 
  }
  .sec3-service {
    margin: 0px;
  }
  
  .other-service {
    text-align: center;
    font-size: 20px;
    width: 140px;
    height: 0px;
    padding: 40px;
  }
  #sec3-div2{
    padding-left: 50px;
    flex-direction: column;
    width: 330px;
  }
  #section-4 {
    width: 380px;
  }
  .sec4-description {
    font-size: 15px;
    width: 362px;
    /* margin-top: 30px; */
    padding-left: 11px;
  }
  .sec4-img{
    text-align: none;
    
  }
  .sec4-pic {
    width: 370px;
    height: 300px;
  }
  #section-5{
    width: 425px;
  }
  .sec5-img{
    margin: 10px;
  }
  .sec5-pic {
    width: 370px;
    height: 300px;
    padding-left: 0px; 
  }
  .sec5-content {
    margin: 10px;
}
  .sec5-head {
    text-align: center;
    padding-left: 20px;
  }

  .sec5-description {
    padding: 0;
    font-size: 15px;
    width: 368px;
  }
  #footer {
    width: 425px;
  }
  .maindiv {
    flex-direction: column;
    padding-left: 20px;
  }
  #footer-final {
    font-size: 10px;
    width: 405px;
  }
  #wa-lg {
    position: fixed;
    bottom: 12px;
    right: 13px;
    color: #0c005a;
    z-index: 1000;
  }
  #foot-lg {
    width: 200px;
  }
  .div {
    padding: 20px 20px 10px 0px;
  }
  .connectwithus{
  text-align: center;
  }
  .footer-subhead {
    padding: 10px;
    font-size: 12px;
}
.footer-a{
  font-size: 10px;
}
.address-div{
  font-size: 10px;
}
.footer-about{
  font-size: 10px;
}
}